.home-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}
.yellaImg{
  height: 300px;
  width: 400px;
  border-radius: 50%;
}
.yellaImg {
  display: inline-block;
  animation: up-down 2s ease-in-out infinite;
}

@keyframes up-down {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-20px);
  }
}
.heading p{
  font-size: 20px;
  color: gray;
}
.heading h1{
  font-size: 55px;
  font-variant: small-caps;
}
.button{
  margin-right: 500px;
  box-shadow: 5px 0px 10px 5px rgb(104, 86, 86);
  position: absolute;
  top: 450px;
  left: 300px;
}

@media  screen and (max-width:764px) {
  .home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
  }
  .yellaImg{
    order: 2;
    z-index: -1;
  }
}




